* {
	padding: 0;
	margin: 0;
}

:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green:  hsl(150, 100%, 66%);
    --grayish-blue:  hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	min-height: 100vh; 
    font-family: 'Manrope', sans-serif;
    background-color: var(--dark-blue);
}

h1 {
    font-size: 15px;
    color: var(--neon-green);
    font-weight: 100;
    margin-top: 30px;
}

.full-app {
    background-color: var(--dark-grayish-blue);
    padding: 15px;
    height: 100%;
    width: 320px;
    border-radius: 15px;
    text-align: center;
    margin-top: 70px;
}

.advice-id {
    letter-spacing: 4px;
    font-weight: 100;
}

.quote-container {
    font-size: 28px;
    color: var(--light-cyan);
    padding: 20px 10px 20px 10px;
    font-family: 'Manrope', sans-serif;
}

.line-mobile {
    position: relative;
    top: 10px;
    left: 0px;
}

.line-desktop {
    display: none;
}

.dice-container {
    background-color: var(--neon-green);
    position: relative;
    top: 50px;
    left: 0px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.dice-container:hover {
    box-shadow: 0px 0px 10px var(--neon-green);
    cursor: pointer;
}

.dice {
    position: relative;
    top: 22px;
}

footer {
    text-align: center;
}

.attribution {
	font-size: 11px;
	text-align: center;
    margin-top: 80px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.fa-brands {
   font-size: 30px;
   margin: 30px;
   color: var(--neon-green);
}

@media (min-width: 1300px) {

    body {
        max-width: 1440px;
        margin: 0 auto;
    }
    
    .full-app {
        width: 500px;
    }

    .line-desktop {
        display:block;
        margin: 0 auto;
        padding-top: 20px;
    }

    .line-mobile {
        display:none;
    }
}