* {
	padding: 0;
	margin: 0;
}

:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green:  hsl(150, 100%, 66%);
    --grayish-blue:  hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	min-height: 100vh; 
    font-family: 'Manrope', sans-serif;
    background-color: var(--dark-blue);
}

h1 {
    font-size: 15px;
    color: var(--neon-green);
}

.full-app {
    background-color: var(--dark-grayish-blue);
}

.quote {
    font-size: 28px;
    color: var(--light-cyan);
}

.line-desktop {
    display: none;
}

.attribution {
	font-size: 11px;
	text-align: center;
    margin-top: 30px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
